
.principal{
    background-color: var(--cor-fundo-main);
    margin: 0 auto;
    padding-bottom:64px;
    
}
.produtos__categoria{
    display: flex;
    justify-content: space-between;
    padding: 64px 159px 16px 152px;
    max-width: 1136px;
    align-items: center;
}
.produtos__titulo{
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 32px;
    
    
}
.produtos__btn{
    background: transparent;
    border: 0;

}
.produtos__link--btn{
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: var(--azul);
}
.produtos__btn--seta{
    width: 11px;
    height: 13px;
}
.produtos{
    display: flex;
    max-width: 1136px;
    margin: 0 152px 0 135px;
}
.produtos__item{
    margin-left:16px;  
}

.produtos__img{
    width: 176px;
    height: 174px;
}
.produtos__item--info{
    padding-top: 8px;
}
.produtos__item--titulo{
    font-size: 14px;
    font-weight: 500;

}
.produtos__item--preco{
    font-weight: 700;
    padding: 8px 0 8px 0;
}
.produtos__ver--Produto{
    text-decoration: none;
    font-weight: 700;
    
    
}