.produtos{
    background-color: var(--cor-fundo-produtos);
}

.galeria__produtos{
    padding: 16px;
}
.galeria__cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.galeria__titulo{
    font-size: 22px;
    font-weight: 700;
    color: var(--cinza-escuro);
    
}
.item__botao--ver-mais{
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: var(--azul);
}
.galeria__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card__item{
    width: 48%;
    margin-bottom: 16px;
}
.card__item--disabled{
    display: none;
}

.item__imagem{
    border-radius: 2.5px;
    width: 100%;
    padding-bottom: 8px;
}
.item__nome--produto{
    font-size: 14px;
    font-weight: 500;
    color: var(--cinza-escuro);
    padding-bottom: 8px;
}
.item__valor{
    font-size: 16px;
    font-weight: 700;
    color: var(--cinza-escuro);
    padding-bottom: 8px;
}
.item__botao{
    font-size:14px ;
    font-weight: 700;
    text-decoration: none;
    color:var(--azul);
}

/* responsividade tablet */
@media screen and (min-width:768px) {
    .card__item{
        width: 24%;
    }
    .galeria__produtos{
        padding: 32px;

    }
}

/* responsividade desktop*/
@media screen and (min-width:1440px) {
    .galeria__produtos{
        padding: 16px 152px 64px 152px;

    }
    .galeria__titulo{
        font-size: 32px;
        font-weight: 700;
    }
    .item__botao--ver-mais{
        font-size: 16px;
        font-weight: 700;
    }
    .card__item{
        width: 16%;
        
    }
    .card__item--disabled{
        display: block;
    }
    
}
