.rodape__form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 64px 0 64px 0;
    background: var(--cor-fundo-rodape);
}

.logo__alura--rodape{
    margin-left: 152px;
}

.rodape__lista--logo{
    display: flex;
    align-items: flex-start;

}

.rodape__item{
    margin-left: 112px;
    padding-bottom:24px;
    width: 176px;
    height: 19px;
}

.rodape__item--texto{
    text-decoration: none;
    font-weight: 500;
    color:var(--cinza-escuro);
}
.form__rodape--contato{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 152px 64px 190px;
}
.form__rodape--info{
    font-weight: 700;
    margin-bottom: 8px;
    width: 560px;
    height: 19px;
}
.form__rodape--nome{
    margin-bottom: 16px;
    width: 560px;
    height: 56px;
    border-radius: 4px;
    border: 0;
    border-bottom: 2px solid var(--cinza-medio);
    background: var(--branco);

}
.form__rodape--nome::placeholder{
    font-size: 12px;
}
.form__rodape--msg{
    margin-bottom: 8px;
    width: 560px;
    height: 82px;
    border-radius: 4px;
    border: 0;
    border-bottom: 2px solid var(--cinza-medio);
    background: var(--branco);

}

.form__rodape--msg::placeholder{
    padding: 16px 244px 46px 12px;
    font-family: var(--fonte-principal);
}
.btn__form--enviar{
    width: 150px;
    height: 51px;
    border: 0;
    background-color: var(--azul);
    color: var(--branco);
    font-size: 16px;
}
